* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(183, 200, 209);
}

.container {
    max-width: 900px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.main-content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 3rem;
    line-height: 1.5;
}

img {
    width: 4rem;
    display: inline;
    margin-right: 2.5rem;
    margin-left: 0.5rem;
}

h1 {
    font-size: 60px;
    color: white;
    font-weight: normal;
    letter-spacing: 1;
}

.big-button {
    background-color: rgb(100, 100, 140);
    color: white;
    border: 0px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    height: 50px;
    width: 110px;
}

p {
    font-size: 1rem;
    font-weight: bolder;
    color: #706F6F;
}

.risk-factors-title {
    padding-left: 14px;
}

form {
    font-size: 0.9rem;
    font-weight: normal;
    color: #706F6F;
}

label,
input[type="radio"],
input[type="checkbox"] {
    cursor: pointer;
    padding-left: 7px;
    accent-color: rgb(100, 100, 140);
}

input[type="number"],
input[type="text"] {
    border: 0px;
    padding: 10px;
    border-radius: 8px;
    height: 1rem;
}

.button-container {
    text-align: center;
}

.header {
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 5rem;
}

fieldset {
    border: 0;
    display: flex;
    margin-bottom: 2.2rem;
}

fieldset>p {
    width: 18rem;
    flex-shrink: 0;
    margin: 0;
    margin-right: 2rem;
}

.radio-buttons {
    display: flex;
    flex-grow: 1;
}

.radio-button {
    width: 35%;
    display: flex;
    align-items: flex-start;
}


.checkbox-button {
    margin: 2px 10px 5px 5px;
}

.label-risk-factors-item {
    line-height: 2.5;
}

.cigarette-number-box {
    width: 3rem;
    margin-left: 5px;
}

.medication-text-box {
    width: 23rem;
    margin-left: 10px;
}

.other-text-box {
    width: 25rem;
    margin-left: 10px;
}

.diagnosis-text-area {
    border-radius: 20px;
    border: 0px;
    resize: none;
    min-height: 7rem;
    width: 40rem;
    padding: 25px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    background-color: white;
}

.text-area-container {
    display: flex;
    justify-content: center;
}

input[type=text]::placeholder {
    color: #bcbcbc;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

input[type=text],
input[type=number] {
    font-size: 0.9rem;
    font-weight: normal;
    color: #706F6F;
    font-family: 'Montserrat', sans-serif;
}





@media (max-width: 390px) {


    h1 {
        font-size: 2.2rem;
    }

    img {
        margin: 0px 30px 0px 10px;
    }

    .header {
        padding: 0 0 0 1.5rem;
        margin-top: 2rem;
    }

    .main-content {
        background-color: rgb(183, 200, 209);
        padding: 0.5rem;
        width: 100%;
    }

    .radio-buttons {
        flex-direction: column;
    }

    form,
    p,
    .big-button,
    .diagnosis-text-area,
    input[type=text],
    input[type=number],
    input[type=text]::placeholder {
        font-size: 1rem;
    }

    .big-button {
        width: 70%;
        border-radius: 15px;
    }

    .radio-button {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    fieldset>p {
        width: 50%;
        margin: 0px;
        padding-right: 10px;
        padding-left: 10px
    }


    input[type=radio] {
        margin-top: 20px;
        visibility: hidden;
        width: 0;
    }

    .risk-factors-item {
        display: flex;
        align-items: center;
        padding: 0px 0px 30px 10px;
        flex-wrap: wrap;
    }

    .risk-factors-title {
        margin: 0px;
        padding-left: 25px;
        padding-bottom: 20px;
    }

    #age,
    #bone-loss {
        margin: 0px 10px 10px 10px;
    }

    #cigarette-number {
        margin: 0px 10px 0px 15px;
    }

    input[type=text],
    input[type=number] {
        height: 2.5rem;
        border-radius: 12px;
        padding: 8px;
    }

    #cigarette-number {
        width: 3rem;
    }

    #percentage-label {
        margin-top: 10px;
    }

    .diagnosis-text-area {
        border-radius: 25px;
        min-height: 10rem;
        width: 86%;
    }

    .radio-button label {
        background-color: rgb(171, 188, 197);
        border-radius: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px;
        margin-bottom: 30px;
        color: white;
        text-align: center;
    }

    input[type=radio]:checked+label {
        background-color: rgb(100, 100, 140);
    }

    input[type=checkbox] {
        width: 1.1rem;
        height: 1.1rem;
    }

    .label-risk-factors-item {
        line-height: 2;
        padding-left: 5px;
    }

    fieldset {
        margin-bottom: 0.5rem;
    }

    .medication-text-box,
    .other-text-box {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        width: 97%;
    }

}